{% extends 'base.html.twig' %}

{% block title %}Edit Html{% endblock %}

{% block body %}
    <h1>Edit Html</h1>

    {{ include('admin_html/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_html_index') }}">back to list</a>

    {{ include('admin_html/_delete_form.html.twig') }}
{% endblock %}
