{% extends 'admin/index.html.twig' %}

{% block title %}Admin | New Html{% endblock %}

{% block content %}
<div class="mt-24">
    {{ include('admin_html/_form.html.twig') }}
</div>
    <a href="{{ path('app_admin_html_index') }}" class="bg-[#138808] w-fit py-2 px-6 my-6 mx-auto rounded-md text-white font-bold cursor-pointer hover:bg-[#13AF08]">back to list</a>
{% endblock %}
