{% extends 'admin/index.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container pt-8 mt-6 flex flex-col gap-4">
        <h2 class="text-5xl">Welcome</h2>
        <h3 class="text-4xl">Use the options on the sidebar to navigate to the code</h3>
        <h4 class="text-2xl">&lpar;This site was created using Symfony&rpar;</h4>
        <div class="container pt-8 mt-6 flex flex-col gap-4">
            <p>Update existing Executable</p>
    </div>
    </div>

{% endblock %}
