{% extends 'base.html.twig' %}

{% block title %}Edit ExesCode{% endblock %}

{% block body %}
    <h1>Edit ExesCode</h1>

    {{ include('admin_exes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_exes_index') }}">back to list</a>

    {{ include('admin_exes/_delete_form.html.twig') }}
{% endblock %}
