{% extends 'base.html.twig' %}

{% block title %}New ExesCode{% endblock %}

{% block body %}
    <h1>Create new ExesCode</h1>

    {{ include('admin_exes/_form.html.twig') }}

    <a href="{{ path('app_admin_exes_index') }}">back to list</a>
{% endblock %}
